# NOTE: If you intend to contribute or develop on Config, please install requirements.txt
# NOTE: If you intend to use Config, requirements.txt is overkill and look @ setup.py
# `install_requires`

# Setup.py Install
-e .

# Testing + Code Coverage
codecov
coverage
pytest
pytest-cov

# Static-analysis
flake8
black
isort

# Release to PyPi
wheel

# Runtime type checking
typeguard

# Runtime introspection
executing
