# NOTE: If you intend to contribute or develop on HParams, please install requirements.txt
# NOTE: If you intend to use HParams, requirements.txt is overkill and look @ setup.py
# `install_requires`

# Setup.py Install
-e .

# Testing + Code Coverage
codecov
coverage
pytest
pytest-cov

# Linting
flake8

# Auto Formatter
yapf

# Release to PyPi
wheel

# Runtime type checking
typeguard
